starlette
uvicorn
gunicorn
python-multipart
aiofiles
aiohttp
click==7.1.2
Flask==1.1.2
flask-cors
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
python-dotenv
keras==2.3.1
grpcio==1.27.2
tensorflow
pandas
numpy
scipy
seaborn
Bio
scikit-learn==0.21.3
joblib